<%= link_to "Back", admins_path %>
<%= link_to "+ New Advertisement", new_advertisement_path %>

<table>
	<thead>
		<tr>
			<th class="actions">
				Order
			</th>
			<th class="image">
				Image
			</th>
			<th class="text">
				Title
			</th>
			<th class="text">
				Description
			</th>
			<th class="actions">
			</th>
			<th class="actions">
			</th>
		</tr>
	</thead>
	<tbody>
	<% @advertisements.each do |advertisement| %>
		<tr>
			<td>
				<%= advertisement.placement %>
			</td>
			<td class="image">
				<%= image_tag advertisement.image.url(:medium) %>
			</td>
			<td>
				<%= advertisement.title %>
			</td>
			<td>
				<%= advertisement.description %>
			</td>
			<td>
				<%= link_to "Edit", edit_advertisement_path(advertisement) %>
			</td>
			<td>
				<%= link_to "Remove", advertisement, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>