<div class="image-split-5 bg1">
</div>
<div id="illustration" class="image-split-5 bg2">
  <h3>ILLUSTRATION</h3>
</div>
<div id="advertising" class="image-split-5 bg3">
  <h3>ADVERTISING</h3>
</div>
<div id="process" class="image-split-5 bg4">
  <h3>PROCESS</h3>
</div>
<div id="about" class="image-split-5 bg5">
  <h3>ABOUT ME</h3>
</div>
<div id="bgtruck-logo">
  <img src="/assets/logo2.png"/>
</div>
<div id="modalbox">
  <div id="image-box">
    <div id="loading">
      <img src="/assets/loading.gif"/>
    </div>
    <div id="image-stuff" class="pal">
      <div class="number">1/13</div>
      <div id="image">
        <img src=""/>
      </div>
      <div id="information">
        <div class="pam">
          <div class="title"></div>
          <div class="description"></div>
          <div class="programs">
            Adobe Photoshop CS4<br/>
            Adobe Illustrator CS4
          </div>
        </div>
      </div>
    </div>
    <div id="back" class="button">
      <i class="icon-chevron-left"></i>
    </div>
    <div id="next" class="button">
      <i class="icon-chevron-right"></i>
    </div>
  </div>
</div>
<div id="modalbox2">
  <div id="image-box">
    <div class="right">
      <div class="pam">
        <h2>About Me</h2>
        <div>
          <%= @about.content.html_safe %>
        </div><br/>
        <%= link_to "Download Resume", @about.resume.url %>
      </div>
    </div>
    <div class="left">
      <div class="pam">
        <h2>Contact Info</h2>
        <table>
          <tr>
            <td>
              Phone
            </td>
            <td>
              <%= @about.phone %>
            </td>
          </tr>
          <tr>
            <td>
              Email
            </td>
            <td>
              <%= @about.email %>
            </td>
          </tr>
          <tr>
            <td>
              Facebook
            </td>
            <td>
              <%= link_to "facebook.com/MattGould32", "http://facebook.com/MattGould32" %>
            </td>
          </tr>
          <tr>
            <td>
              Instagram
            </td>
            <td>
              @matthewgould32
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  var current_set = null;
  var advertising_set = new ImageSet(<%= raw @advertisings %>)
  var illustrations_set = new ImageSet(<%= raw @illustrations %>)
  var process_set = new ImageSet(<%= raw @steps %>)

  function getMeta(url) {
      var img = new Image();
      img.src = url;
      img.onload = function() {
          resize_image(this);
          jQuery("#loading").hide();
          jQuery("#information .title").html(current_set.images[current_set.current].display);
          jQuery("#information .description").html(current_set.images[current_set.current].description);
          jQuery("#image-box .number").html(current_set.current + 1 + "/" + current_set.images.length);
      }
  }

  function display_image(){
    jQuery("#loading").show();
    if (current_set.images.length){
      getMeta(current_set.images[current_set.current].image);
    }
    else {
      jQuery("#loading").hide();
      jQuery("#image img").attr("src", "#");
      jQuery("#information .title").html("Empty");
      jQuery("#information .description").html("");
      jQuery("#image-box .number").html("0/0");
    }
  }

  function Dimensions(x, y) {
      this.x  = x;
      this.y = y;
  }

  function resize_image(img){
    var dimensions = resize_image_dimensions(img);
    jQuery("#image img").attr("src", img.src);
    jQuery("#image img").css({"width" : dimensions.x+"px", "height" : dimensions.y+"px"});
  }

  function resize_image_dimensions(image) {
    var ratio;
    var ratioMax;
    ratio = image.width / image.height;
    if(ratio > 1){
      jQuery("#image-box").removeClass("tall");
      jQuery("#image-box").addClass("wide");
    }
    else {
      jQuery("#image-box").removeClass("wide");
      jQuery("#image-box").addClass("tall");
    }
    var xMax = jQuery("#image").width();
    var yMax = jQuery("#image").height();
    ratioMax = xMax / yMax;
    //width is larger
    if (ratio > ratioMax){
      jQuery("#image img").css("marginLeft", 0);
      var newHeight = image.height * xMax / image.width;
      jQuery("#image img").css("marginTop", (yMax - newHeight)/2);
      return new Dimensions(xMax, newHeight);
    }
    else{
      jQuery("#image img").css("marginTop", 0);
      var newWidth = image.width * yMax / image.height;
      jQuery("#image img").css("marginLeft", (xMax - newWidth)/2);
      return new Dimensions(newWidth, yMax);
    }

  }

  function ImageSet(images) {
    this.current = 0;
    this.images = images;

    this.next_image = function(){
      if(this.current == this.images.length - 1){
        this.current = 0;
      }
      else{
        this.current++;
      }
      getMeta(this.images[this.current].image);
      display_image();
    }
    this.prev_image = function(){
      if(this.current == 0){
        this.current = this.images.length - 1;
      }
      else{
        this.current--;
      }
      getMeta(this.images[this.current].image);
      display_image();
    }
  }

  jQuery(document).ready(function(){

    jQuery.each(jQuery(".image-split-5"), function(){
      jQuery(this).attr("data-background", jQuery(this).css("background-image"));
    });

    jQuery(".image-split-5").mouseenter(function(){
      if(!jQuery(this).hasClass("bg1")){
        jQuery(this).addClass("shadow");
        jQuery(this).css("background-image", "url('/assets/bghover.png')");
      }
    });

    jQuery(".image-split-5").mouseleave(function(){
      jQuery(this).removeClass("shadow");
      jQuery(this).css("background-image", jQuery(this).attr("data-background"));
    });

    $(document).keyup(function(e) {
      if (e.keyCode == 27) { jQuery('#modalbox').click(); jQuery('#modalbox2').click(); }   // esc
    });

    jQuery("#advertising").click(function(){
      jQuery("#modalbox").show();
      jQuery(".programs").show();
      current_set = advertising_set;
      display_image();
    });

    jQuery("#illustration").click(function(){
      jQuery("#modalbox").show();
      jQuery(".programs").show();
      current_set = illustrations_set;
      display_image();
    });

    jQuery("#process").click(function(){
      jQuery("#modalbox").show();
      jQuery(".programs").hide();
      current_set = process_set;
      display_image();
    });

    jQuery("#about").click(function(){
      jQuery("#modalbox2").show();
    });

    jQuery("#modalbox #image-box").click(function(e){
      e.stopPropagation();
      current_set.next_image();
    });

    jQuery("#image-box #back").click(function(e){
      e.stopPropagation();
      current_set.prev_image();
    });

    jQuery("#image-box #next").click(function(e){
      e.stopPropagation();
      current_set.next_image();
    });

    jQuery("#modalbox").click(function(){
      jQuery("#modalbox").hide();
    });

    jQuery("#modalbox2").click(function(){
      jQuery("#modalbox2").hide();
    });

    jQuery("#modalbox2 #image-box").click(function(e){
      e.stopPropagation();
    });
  });

</script>