<!DOCTYPE html>
<html>
<head>
  <title>Recoil</title>
  <%= stylesheet_link_tag    "style" %>
  <%= stylesheet_link_tag    "font-awesome-ie7" %>
  <%= stylesheet_link_tag    "font-awesome" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	 <!--[if IE]>
	   
	   <style type="text/css">

	   .b2 { 
	       background:transparent;
	       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000); 
	       zoom: 1;
	    } 

	    </style>

	<![endif]-->
</head>
<body>
<img id="bgtruck" src="/assets/truckbg.png"/>
<%= yield %>

</body>
</html>
