<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Recoil</title>
  <%= stylesheet_link_tag    "style" %>
  <%= stylesheet_link_tag    "font-awesome-ie7" %>
  <%= stylesheet_link_tag    "font-awesome" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<img id="bgtruck" src="/assets/truckbg.png"/>
<%= yield %>

</body>
</html>
